html {
  /*background-color: black;*/
}

#clock-path {
  /*stroke: white;*/
  /*stroke-width: 3px;*/
  fill: #dbe9ff;
}

.clock-hand {
  stroke: white;
  stroke-width: 2px;
}

.arc {
  /*stroke: white;*/
  /*stroke-width: 2px;*/
}

.civil-twilight, .civil-dawn {
  fill: #86a3d5;
}

.nautical-twilight, .nautical-dawn {
  fill: #4571bd;
}

.astronomical-twilight, .astronomical-dawn {
  fill: #253d67;
}

.arc.night {
  fill: #1f252d;
}

.hours circle {
  fill: white;
}

.hours text {
  text-anchor: middle;
  fill: black;
  opacity: 0.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.hours .tick {
  stroke: black;
  opacity: 0.5;
}

.zenometer {
  margin-left: 30px;
}

.zenometer .pin {
  stroke: white;
  stroke-width: 2px;
  fill: none;
}

.zenometer .area.above-horizon {
  fill: #dbe9ff;
}

.zenometer .area.below-horizon {
  fill: #1f252d;
}

.clock.moon .above-horizon{
  fill: #999999;
}

.clock.moon .below-horizon {
  fill: #333333;
}
