$daytime-color: #C4DBFF;
$civil-twilight-color: #86a3d5;
$nautical-twilight-color: #4571bd;
$astronomical-twilight-color: #253d67;
$nighttime-color: #1f252d;
$moon-above-horizon-color: #FFF0D0;
$moon-below-horizon-color: #6F685A;

html {
  /*background-color: black;*/
}

.clock-hand {
  stroke: white;
  stroke-width: 2px;
}


.civil-twilight, .civil-dawn {
  fill: $civil-twilight-color;
  stroke: $civil-twilight-color;
}

.nautical-twilight, .nautical-dawn {
  fill: $nautical-twilight-color;
  stroke: $nautical-twilight-color;
}

.astronomical-twilight, .astronomical-dawn {
  fill: $astronomical-twilight-color;
  stroke: $astronomical-twilight-color;
}

.arc.night {
  fill: $nighttime-color;
  stroke: $nighttime-color;
}

.hours circle {
  fill: white;
}

text {
  text-anchor: middle;
  fill: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  opacity: 0.6;
}

.hours .label {
  opacity: 0.3;
}

.hours .current {
  font-weight: 100;
  font-size: 42px;
}

.hours .tick {
  stroke: black;
  opacity: 0.3;
}

.zenometer {
  margin-left: 30px;
}

.zenometer .pin {
  stroke: white;
  stroke-width: 2px;
  fill: none;
}

.zenometer .area.above-horizon, #clock-path {
  fill: $daytime-color;
  stroke: $daytime-color;
}

.zenometer .area.below-horizon {
  fill: $nighttime-color;
}

.clock.moon .above-horizon{
  fill: $moon-above-horizon-color;
}

.clock.moon .below-horizon {
  fill: $moon-below-horizon-color;
}

#map {
  width: 500px;
  height: 500px;
}
